section div{
    border: 2px solid black;
    padding: 1em;
}

section div.uniform-margin{
    margin: 40px;
}

section div.non-uniform-margin{
    margin: 10px 30px 20px 40px;
}

section div.negative-margin{
    margin: -20px 0px;
}