div{
    margin: 20px 0;
    padding: 10px;
    border: 2px solid black;
}

div.font-arial{
    font-family: Arial, Helvetica, sans-serif;
}

div.font-size-24px{
    font-size: 24px;
}

div.font-weight-bold{
    font-weight: bold;
}

div.font-style-italic{
    font-style: italic;
}

div.font-small-caps{
    font-variant: small-caps;
}