div{
    border: 5px solid #333;
    margin: 20px;
    padding: 20px;
    width: 300px;
    background-color: #eee;
}

div.content-box{
    box-sizing: content-box;
}

div.border-box{
    box-sizing: border-box;
}
