body{
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

div.accordion{
    width: 70%;
    max-width: 1200px;
    margin: 30px auto;
    border: 2px solid rgb(227, 227, 227);
}

div.accordion details{
    border-bottom: 2px solid rgb(227, 227, 227);
    padding: 20px 30px;
}

div.accordion details:last-of-type{
    border-bottom: none;
}

div.accordion summary{
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

details > summary {
    list-style-image: url(img/right.svg);
  }

details[open] > summary {
    list-style-image: url(img/down.svg);
  }