h1 {
    color: red;
}

p {
    font-size: 18px;
}

.highlight {
    background-color: bisque;
}

#main-title {
    color:blueviolet;
}

#special-paragraph {
    font-style: italic;
}

body ul li{
    color:green;
}

body ul{
    list-style-type: square;
}